
@font-face {
  font-family: 'Futura-Medium';
  src: url('Futura-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAE6EAA4AAAAAntgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAABMxAAAADgA
AABOXMp3j2NtYXAAAAegAAACLgAAArjEVbnfY3Z0IAAAS+wAAAAgAAAASAF2B4FmcGdtAABMLAAA
AIMAAACc03zpemdseWYAAAnQAAA9wAAAhNzWTDbeaGVhZAAATlgAAAAsAAAANmLgQ7loaGVhAABO
OAAAACAAAAAkB7IGTWhtdHgAAEngAAACCwAAA1zFtiBga2VybgAATPwAAAE6AAACcBetC9Rsb2Nh
AABHkAAAAk4AAANgADNCGG1heHAAAEwMAAAAIAAAACABGAFmbmFtZQAABZwAAAICAAADxNyHFYtw
b3N0AAABRAAABFYAAAekMpaeOHByZXAAAEywAAAAFAAAABTCfaXveNqdU2WD4zYUzCSxN052t8zM
TFfmpte03cKl7d223bJivyTqylZOsvc2V2ZmZmaGKzMzt/dzWlm65PKhn85fLMkzb57mjQvFgn3+
XVFYUPi/Z2WhgCJKKMODjzFUEKCKGsYxgUmshbWxDtbFelgfG2BDbISNsQk2xWbYHFtgS2yFrbEN
tsV22B47YEfshJ2xC3bFbtgde2BP7IW9sQ8WYF/sh/1xAA7EQTgYh+BQHIbDcQSOxFGo42gsxDFo
4Fgch+MxhRNwIk7CyViEJk7BqTgNi7EE0zgdZ+BMzOAsnI1zcC7Ow/m4AAwthIhAaKODLjguxCwE
YiSQ6GEpFDRSZJjDMsyjj+W4CBfjElyKy3A5rsCVuApX4xpci+twPW7AjbgJN+MW3IrbcDvuwJ24
C3fjHtyL+3A/HsCDeAgP4xE8isfwOJ7Ak3gKT+MZPIvn8DxewIt4CS/jFbyK1/A63sCbeAtvYwXe
wbt4D+/jA3yIj/AxPsGn+Ayf4wt8ia/wNb7Bt/gO3+MH/Iif8DN+wa/4Db/jD/yJv/A3/sFKT/dY
SD7Nh4LFlaWZTClqiWqSxS1SmncSP5JCMDXWIxVSkgYsNivNkqhmwZonHUFBjylKBLXTql0p3umm
FaZTUlzPlnsi014o45j53X6vS4lvanAZeVow3S0vJyVLMqFSukx6aVcRldsyU+U2n6OS5vOepjlK
PMqLlhOekKklZBJoirldlQVp7dHSjImxjiJmZM1VSKdcJkWWrkkiai3FwllK8zsFLbO0rY6vOrX3
qzEdch5yFWZxNUsiY0soFXkdxeZoTVIU5NUpVyy1mKranVWqWqWUi4gmV7veYpr8tpCKJ+ODweVn
FRKC9zTXfsQ6HVKBe+Vjdc22Bc3XzATSrszySfqLQ6ZkMtHJuLCV8xaKzUZgq9qp2pXtZSiVn08M
NvaT38rMaepTEhmvfIrzl2fbDlLFIoqZmvW1FZscillqUVIwE3FS5mq66tIYyWVJOc9cJc+RMNhK
mCmTrrBf6lNi3JKzlBinxjSF+agrgwJBKHt9NyOporaJSZ4aez9BsbRDrQrZ4SETiUw98z3TVUUd
nitR5McsND36EZk0mXCb+FpIzQRUZza7asIGdbDzWJilVIyz/E9gJgG97qTLeH6BvOZYSJGRZzUT
9AFr3HQXm9lm5nI0OWzPzdzgTKCVIY+ZZZeJtpNcdajHBwnPffLrNnV+3fZRq68etF93A6gPzPHq
JjCdYr1RWbiqJb/hyA1HbqwmB40By59ymCmHmRrBTA0wpUba9RdZOb/p4E0Hb47003T9NAesSpyJ
lPdE32/af8yfdtRpR50eUZoedjNjP3pLulIlVRPu2MS4JbTPHJc5LhuRZU6WDW1g1gZGlXBgAzky
OTKNCNNQmDsMdxg+guFDG8jYkDgbpINLB5cj/UjXjxxWjvgczxnOhMwRM0fMRnSyIaPvTEhzE4L+
4LhQ+A8rXHLKAAB42nWRwW7TQBCG/7hpKqQiwQ0hDiNOrdRYMTk0OUaJIlWoVZVG5ezEG3fVxLbW
diQ/BydegAu8Akc48AC8AA8C/26Wohxiy7PfzPwzO7sG8AI/0MLu+cRvxy08p7fjAB189nyEl/jq
uU3NN8/HOMVPzx3Gf3k+wRv8ZlWr/YxN3+GP5xZeB5HnAKfBe89HeBt88NympvF8jFfBR88dxr94
PsEg+D7Oi8bo9KGSs+W5RMPB5QXtMHK2L6MkXyi5a8pKbUq5ypa5KXITVyoJRUbrtcxsbSkzVSqz
ZXRaV7WJRZcSi1GpZqFRiVQmTtQmNo+Sr2RaZ4le6jyTuS7y1MQrvYzlRtWrrV6vuV0oI9+oe60S
XW92djK/7e6F95x7ZUrbMwp7vb3E2Cg7sCwamTeF6k5UqdNMGemHPYyRo0ADA40UD6ggOMMS51wj
DDHAJS48D2n/c580QsL6BRT5jl1K1itsuAqukLFPzs6Fs7HLJQiZs5VrvoLZ076l8xRXRfXWa6eo
matdvVBrVZYM86nzK6e3aiFbXeJmiMmPjOVY0do+GTOaM2nGMsbmJDtb6qpWLmd737C+pr9lxE65
O13opt6fqItrt7Omv9njCbvfMn9YfThz705UPs0Zcdce38MVY3cD/25Y+Ecad76G51PUTty92pvO
XG/h37M9/wI6a76IAAB42oWRRVBWARRGzwPELkAFrMcvYutvC3Z3gZ10h1JSSnd3SHcpgtLdDQrK
yo2O47hw4cJxiw9mZOv95t65izPz3QAUEJgKNRSnOkFTSmX+G4KCotIs5dlz5s6bv2DhosVLlqqo
qi1bvkJdQ3PlqtVr1opasnXa63U2bNy0ecvWbdt3yHfu2r1n7779B3T1Dh46fOToseMnTp46febs
ufMXLl66fOXqtev6Bjdu3rp95+69+w8ePnosORgaGZuYmplbWFpZTxna2NrZOzx56ujk7OIKz3Bz
9/D0ev7C28fXzz8gMCg4JDQsPCIyKjomNi4+ITEpOSU17WV6RmZWdk5uXn5BYVFxSWlZ+avXFW8q
q96+q66pratvaGxqbmlta+/o7Oru6e3rHxgcGh4Zff9hbPzjpwmUhHTJVQcRJZR5waRgIBgJbkKc
Qo/CZ1FN1BTXiDJRR5SLeloymYpMY3JS4kWyBX3BcIZTFdXFVaI4zen+4ya//P++crlUtPnKN77P
6Ac/+cXvaf2ZkqMoUW6444EnXjyX5vTGB1/88CeAQIIIJoRQwggngkiiiCaGWOKIJ4FEkkgmhVTS
eEk6GWSSRTY55JJHPgUUUkQxJZRSRjmveE0Fb6ikire8o5oaaqmjngYaaaKZFlppo50OOumimx56
6aOfAQYZYpgRRnnPB8YY5yOfmMAaVyxxlj5qhDmOPOEpNthiiB32GGOKGQ6YYIEVLjhJW0XBXwmp
yAYAAHjatb0JgFtXeSh8zrmSrjTapZF0te/baBktI2lGM6PZbcf7Mh7bY3viOBMnxnH2EEICTQgN
JAHqPJLQAg0/S+GVlkdSe5wATcpLaEsKbSkQaB5tSlNe/lcKaZ4xZXkezfvOufdKV5oZj0P/P45G
+7nfdr79fEJkZQUh/DN8EXGIR42n5oN4vAepMeIwUiGUgScEIx4jrEGZ4lOzQdR6W0NQ5hkVTzDG
CI25RvoKybA1bLeGrRhfbBp68A8R3DvxD5uhPCLo+pU30Q/IBaRHZjREr3NW0HEqegETRmYsGA3S
BZ5GhsklhHmkYas+YzASbMYmzC5Ri2gcvc5yqVoZSCTL1ugnhUhEgNvM/Pxi1EWfuKJbyTRcbx5/
Hh+F61G8UuL1OKTKnBV4lUrCxICJWqPCnIrnkLi8F5ft9N+8rWEbgxu50HwWb6G3ygCs6UaIpMnf
IC8Kom0SrRyMPL2UPM/4ggG/qldDMmx5G+JU9l6/GhGH0+1RG3wY6GlDao3VFlAjrd5gtqgNQR5l
CnY+6iizW7nGbpUou0X5aI2DN16J3XXSe/tifFvqnvj2xJ3XeU8die6K3hsr3uO9h/zNC7s/uvvb
8B/cvfDCC803PopOAdallUeJhTsCVCyiQXSSQetEGp8/meov8Mhi9XiLpUFeAPJkxnXAaoyECIeA
QBWDqs2JZ1KDhO/HPKMPfeG8FfN+7GG8ebpExpYQRzwlkjlXwSWeZAo4gB29Gp4zccCoILbmcZIP
cC5HudLgKgN5kqwEsKsGr1ai8F5loFrDO4qDw/lSfKLk27opNj5pnOfTY7sypeSWaiBYne4LZ827
vAcHS5lSNYmPehr9hR16co6L1KbjU7tjtuZ3tVOT9sz2oTC++mp1dnJXKrul2mf7t56oP1ceUc83
77WW0sm6BqmRdeVN+CJBduBfFNXQFDotSoZfTSXD7KJ/J9L0b3kYiLDU6yF+F8ksDTbIxLDIViae
vSCeosicNfR44POG2KAqw8jTwHweRxh5luC7sH8yS/DdSAxoY4+YiKM3QMqlBqG04EtOoFU0kgAy
xLELc5d5/79Hx4s+X2ksyu6L49H+mZl+uOEnmpvz+Nk967wNzCnAi42Cx1NoRKNjBc/IZD43OZnL
T44s827yy+bV634A/xeQowrQ7GtAMxPQbBy9Xdq5gO24bgA2PhJ6i1RoMkCF4nmTQcUNhgm8F/S7
rBY10K9NNBUQbRTJcrTkgqd5RkPY7WEcYu/ACjpuNA8r9AT9nl6rRRPKU6FymXA0kidUXKpjuB8z
ySkz8vAaHpeTtSSfrNYa8HIiynSEizdhkZYgYcHP9e/q95RTrskhbPS7YUMWo8liIqZXY+sd7zsy
cvD3x30O4cSW7cfz8f6Jqdj4bP/4nTl8xzf7K65k2ZOZTmDdvSHOmxKiuUwylPNqVU3T525snHi+
P+SuBrbsP7Q9uzcZ6T84Udg7EpqoIEz1D/pTpn/8be3DttUzmBAMCrStcuZbqgboBt8dWhlD/8al
kRF5JS0DyhZI3cPJOtKIxwp2DQiLje4lSpZPDsB/W3PpdI5Ln2j+/L0PNH9+fe3oj++668dH0VjH
mlFpTcQbibTmEr1Aj8wrura4i11VW2WAJIfoslvpBcgFccna9Vj/wHux/gRV1WgM/ym+FXC1opi0
tokiiAxqCd5ntDqCrTLKdkeSd/GuGugEV41yrvLsoeDs/siBmT3R/fuje8iF48WhUnGoeM2xUr1U
Gi5cDdcIg+4NAxX0qMauYUJ8jx70tkrNCRokGycTwkQHlOa1nIFiBtBpsBpJlwUNC9cEzVr5j5df
nnv5ZYLo37mXS7B+dWUHuoDuAn45Gb/AxEn8OguaX5Up1DiX/TM31X77ruZPXViv5ShNsRf34hPw
HRlvylYMn28bS3iFYAN8GLY/XHzoB/jEtm3w9ADYw2+gRcAn2LaGaxnADpv3qGTvWsbOUYa1Qivv
IVpuEeDo7YL9acSNFXSgWvBXm8c2409yi5caIe4FgNAD+zrFdGESTYsQqN1U80XNTPMFSNSt2LwB
qvHam5cqwB5x88LHqOgU1JLSikpKzF4KwL2JiPu2QXB45sSY3z92Yka+L0ylbLbUVEG6t2x7x/sb
Y++7e+u2u94/1nj/O7aRF8auPZnL3XB8bOz4DbncyWupHN8DivcgyJoalZU0F1o0Z1YLqQkPll1W
L+CkSDJgBaeBb87/4QD5+PIiuTCXKcCaOZCtXqCFV5KtHuTxwnqCytGxppfwHuxuE8ECRNBJfomd
qh6KvIYvN3CZ4Q6KKVz50S+9/vjUXOG6dxsWVLND/mpaiAWb5/H/O4f7w3vShX2jkXeeGNrjTFX8
4fFE89QcwEN1rgHg6UcTImfAaQHO+LOqllgRFQBogE8wq7PUA6DY25Cl4WlEhAyXytWibEeS0QAn
GpdEstoBL/sAtqtU/MSuvY3BffxhkhzbkysfnIhXqsciw7tzR283HtVOlYa27pnCN+DdU425yWpu
W9UXHJ4dGLvWXb0jv73iu+ZocXjL0PgQ6FyQMRAZkuFsSAuQbmaUNSOs1nB6rNIZOAFR1XOuBxNe
8phMCGlh13LgPhh0hO1eNVaJttSgJyoMYha34jDbxBlsL+OXmyV8x/zcU9/7Lvkq2bt85Kab9uJa
FAQCBYCGXpCTGBqVeIqZDvUbOngaI8yDFU05HxGN+BL4OEgQJQZXwlyLo1SaE+DPYNlCR/kasTS/
fYdN2JGKTZTBAk8mytdaN4Xfvbl+YnsmMjFfqfSTj8813xWM+UoTsfh02T/RPzm6Obnl2vrAsa19
3MeATimA1Qf8dqEMmmXQ6jCzrX6V6Jy5wDkzJamiFiLEn2wragatQOWwzfwIlQXCiJb0E50diKbD
sjGU9yiftHPSxpRRw/c0V5KZ9ObDhfLhmUR4ZFc+ESMv/X6onvV48vVAYCjv9eTqHGl+duDqgeLB
yURiZr6c2z+VtBFsWb7Fna2HAkM5t5AdiQQHMwLwoB/w2sn2ala2OUilJnTHrrNXnyZI1FdhB15q
vvMq/L3lf4aden+OI3MUL9EfMTK9VQb/7TZxfwRE/62X/o3VqG9SZPSbyDPj1kPMavBQR/BEDe4G
MFCCUfCsAY2o2htIsbUH4Gla1B7wVfcIdeJqBKWpL9Kl1/gWXRNJWQlQDegEn8VO95X80SoO+yp9
LqGv4vVW+gRXX+Vb8Ym5QmFuIt4Y6h8Ij+zM5XaOhAf6hxo/GdjujOddrnzcuQMfcyYH/D5wXlyp
ss8/kHJ8qDw7EgyOzJbHjvd6D9RyOweDwcGdudoBb+9x/MntVWc+4XQm8s7qdpCtAUnPU9kSYxaQ
J5AuQZWksuUS5cy0SrbQWEuYdNL2sAuqDBUpuw7I4MJKZCkJai7O3iVSL2OcyDKJmt8EErU7n/OB
RPmH+r2e/Gg4MJhxuzLDFjyvFKh9kwkTaf5vvE/IDIdCQ1m3Jz/kDw5lPUAvwIfZTfwa2E0XqrRj
MIggddzaESR7aoOnBrLKnnJr2Fah28bid8uP4Pp58BN+DdfnII6VLLeRV1puKkkq6UrgMiiv8HFw
H/qk1UU3Aj8sLz3AfBwTCeMLADdbedwAEaSGoxE4kncM2HbqjGC1Q13JYRJuAkjN+/B9+MLfbvrb
hcceiwjwQhj9FqxzP4t9hyRviSpV5i2hLkvJMQ3IU4CBlBDLarBBpWbuSriihht4XfQq+P65uT+e
m4usCaca1D0HoKpQG04NwGk3Yke8Eg/j+5r30WXwY489tgCQwvqibOKPgWwOoRlR750VhliMrumn
fy1x2Ml6nx8MM8hr0EPjjKlR2SszcAPS3qUy6mgFqEt1eDouKW85ehoDaa0pBNZVTiaUEQSNVqVt
zCsYhnOpYCCVCvN9VYfH5y1NxiMTINoLWF2OpgYqNY3e1xd1uLPD4WA97/2UxFp8KJztCwTCPcTo
sjmnovGJokfIjcfDnE0fLRfSqWQvUfU4wsVIeDgr0G//XJYC2MtAlxjs2WWgixUdRW8T6aLxqJgl
aAAlMrspJTZVqZ+m54gGSeZTh4LU6Y7TKN6gd9CwNL5fotE2IEqxTaMJeDos5leQxaRRxR1Us9Eg
KyHuX6CLQwOhRXt7V2sQuJekGCvZ+U5SE+3a+WyhMWyP4l9oxxu5mi1W9PcPYrd/IpnbXvV7CyPh
vgm/2udI74oEQsOV4l1Tux45OTxy6kO7Dt0xvm3o/rHbD5bye083hq7dmuoNJ6yGHh6XNuM7RndN
5721nKdW5LT8/Ylwcnoul5ga8IX9vjDOZJM3jU3fkc9mhk+d2bfv0VP1SGSkkJ+9Y2r8tgOFxJbr
GrGZWshqMkfVoJlCBURWfgk+ytfBR9GACa2L3jOhGaLzvE7LgZeVkRwuLdsY4NFkngFPAvaR6FGe
A0vNUbfEVdbhci0ethPj3HXN323+7nVzuNy8+OBzz3G2S288N4eLlNYcSCbC/wE20QDmph/dzvaP
MY8NRjeH+rGAmJSnNVT+Q3YWU+sxB+FZ5pyAwaxn2hsX08SMGEGLWTQDrKIXHcJnBDfhvVKa5pwG
GyGKPmfHHhpM22UeZbCj/ZCXfYNkRdwnGfykJw52XMgOxYV6bGIoEig1YlsWnho4ujXjTNfC8Wx2
xzX1I+TJHk8pkSx5e7bpfeVEohIwzArlPbXwWCWmIdZ9mdG9eRvwVvLJTnNUP+VFqXZrlZqTxhgc
7ogxjNI+7hS3ipwNYJLqIqfTx8t7/8vNjdHTZ3aVTmb6bqg1btyTy4H0VE+myN963CM3Pbp394du
HPa5b06kCnM3jzZumSskYgHYa8AP8oDEj52SPXFTWgpGRFmhoUxYEkzEqCQ+Ja+c92QvGE2EN4A+
Z/S2Y6QHQtdkkmawq03o8d+b/9id4xN3/t7Bjy+Et91/fHDw+H3bw6j/2JmFIx882j8XmL51965b
p4NAry0gK//Icqb7JT1LA1ukxwJH9ex4T49OoyZYA6LQBo1wbdBo5gCDcjbwKkkuIBDn9bhHilpA
uVvhRv9twY83X8L55rdxrXkKzWH/3HfmjgMMmwGGcwCDDk3Kul4LlpbDAkQgSjuia3vSYHzBoUMd
JkVLTQo40xCA0evhc80PL2BN89fgHC+b8G1z34VrOUA+fgHykUJbJE6kIL5GQpJQThj87fAn1Yqq
majwNN5pG3vmvkvhj6Ns4pTC0qHTGmQU42++iLObD2SHQWTye29uTN+Xnqx9+tDu37lxZPjkB3bs
eO+xAXzvXG7PWLR88OZ645b9/VODYzM7Rm86s3vHh25q1BYf3BEAQKgcXct4tUuiEzO2QCcQsgw8
1WGWsRC0iky6npEG/GOmVHQ9nEg/eEIZzckxa5QSjUau1icXFvD1cHsBF4Bqb2s+QS40v3UgC9ef
AT/u0yzflGvHxQQLLc8BmIKlDAw85CAaEleHxT+9sEAuLJt0ECOt/BRscj/L5RSldawsvrag9jpy
JocRWwPE1suQMs2f5J1M8q1/p+7NxvvC/YONsb0ZC4AazowPx927w4U9iw38TwsLooyT6xndymvQ
TcweAW2AcuvTpoZB+UY/u7CQwL7fan4O77sH/xHeDAQajjU/iT+B90l76ZGOvIF6XfowgYZAhVdS
KVyBK+Cp/0kpNQfXgS8aV97kNoPt0COn7DRT8GB/SOCpaTWB02EO7vDnXyMHr/loc7m5/NFrDhIL
IU0TZ1v+b2TvpTcwrEnzaCv/TL7DOcFru0qCkRVfQPGzSoyKSovAqTsARhJDIVAWeashBPzPzDke
czxTQlYMRMJjC6S6sPxXiJSWv8hZl79D9oAMAYntgEO6Mw/kFqOpqJQHcke780CdOroHyXkgmuwu
4K4k9qow88ndZ05TVb1nz5nTo43TZ3aPnp7tz+65eWLi5j3Z/lkwEFSP73301PDwqUf37oIPLW/K
z94y1rh5f3///psbY7fM5umeI4ynPwKempAXHRQtqR6bzF4OGYGxBqa+HRQLj4UgR8uUe6hAG7xI
UolmS1t1AyFNWDQ65xyiFre3tTiIWluPf7Y6ePWWdHDTnXM3LrjTM8Ox8NB0XwCPuCuz9erumn/Z
RJ7Ueat9mZpfr6CzC6z+nBSHsdhLlaVwRkwqqtCF/qTf49ZEsgqF7se83UUUybdkKyajX8hG4AuI
hmTqZHdIVoWYLOpSWksxL8Wl7hxsUNLLrKjdlp/48p1fCO+JKZmR77PcXnl0N2WBzJJoaApn/9Dh
VDJk6M442H2RH8QP/LAgP7pajjXBAAmci6lAo9XPrJehh4abPhsxuBR4Wm2E78E6eZcbzBZOL9sQ
HwYHx+A3osw5FzZSZLHsh4psgf3VZg3u37NYyaeOTt62kHz1tuZD7tQmmT1beu7aWzvudRlAO4w1
/zs4L74aY9EZlkd9E/8aeFSWPEEhpxW97jLgELMrw8tCp6/ihKfBVb5KEIPLLJdweDn1lift+oUL
vxZcHMvsHot5coPxAV/Okt41Mrr/ak2qsTtXOjgZ95amMtXcyM5CX91BztSGveWrsonhXNjiNAjm
eG3kwJ5Gb25HPRgZP1DKb66krA5rOdU/Eo39IWJ5aPwXwA8eVSV9wmyxgNQKVGhmTKVWUV0nbwEe
S6lnXK6EHUBdbD/bHDm7ALZ6bnkR8IG1h8FWU3vnRuNtrwnshCDqKgNlmKA3tlU483DbFLO3E9xg
NiR1AYpKTpdYhxNbToyPX785sWBNbxkY2JK2ggGJNk7tzmZ33djA/9icKu2bTCQm95Xwc2C3frXy
9+T9TL/7u3LgcG3MqeQSrz0KpoI7dj3egjdf/0Ny4dLrnGf52wAPrHFx5TWVBfivQ2FxDbVyDbVG
hl9LKyRR7MU4qifzJ/DQyy/joRPfefllWO5Nkl7+PmdZ/hHJLn+X7XBERpl9GxB3BM9eU2OFcWtF
E/BEC5ZOqrbqCFyGK3txmbNH9Tj605+e/NKfnPyfr5z6zEdP4Uead+JK8xv4EXx986fYfv1mgP/X
cK1puJYW9a+dG1ekwuFSarCjKtzKi7NrvLnwHzd+6Us3ikVv/Pnm83gSrgV4wC4gISZLQ3JNiqcJ
Vazu8AJ5wssFF/YCp2q7hYUaDjvCOFz5FH53MwiXeA9xzVH/b3HuG+waoytj6P9wabhGsS2vKiwm
iiXljWnzgYH5VErnFtR0BVyBSvT3jj///HHy8uwl52yT+tBBgJtntZGEFN3JdTjmBSFuVYkAl3EQ
PzbbvJFbvPRx+CZGIwDXrzvgUjG7zKGN4aIlGivcnqRwnZ7lfjwrwhXGAyRMaA4lKcKlUsAFJBT1
uw6pOAL0VDNDRCUhGj766U8tfP0WPEDdP/w89dHRygP44spSZx1KmTXqgK+gply42DTgi9tKn/4U
fGg78WMfebVd+2rR6CzQiKZxXLXk9s9k30X+5HHvZ+H7Yv0I/5zl4SLoJqnC6QJtaUIRbA4SUyjM
CQa6/c8jnYZzGRQ+BE3N+VCHA2kjraeIN2KD8mkEh0UPQ8cRsBkQa0fauRt71BHtDA7LjjLWTu/e
M7Vp757PzhPfvnJpbz0YqM8OFPf6yPz44qaZa6/ZvOU4fmxnppicOVQoHdmcKqSvApxqoNNs3CLD
Scq7uHQUJwkhQE3sUzmPNBynNF4MJ1snTr4unGRPDfDhZHxsvi581OVKWVFeiGj4qDWKQxI+zW9R
hAoD+4cCwfreYnmfX4HQ+FXpQmrTkXLh0HSqmMGvUpww49MTwCefHHM7OmJuD7VjpCNNulbMXato
WqkhF37CMxGuLGxKJmeOlDfXa1dtPixkhkK7avhFsyU+c6Q6MD8VD97eWNgSGs57xwAnWV46acu5
mbyYsDVMzJYIJ9MW5MVt7KJtoJO2vevQ1oxNLdoGerto66IRVLe0tGRl+/w88e8rFyVhKezzkTZp
ucVmJFNMTR8qlA9TaRHlheL0CtDWCf6O6LFL+XQnTx0cv4fwqOV1+jFyYoNL8joZ4VWkwxyKWBTi
cg+DlFtjWblkjVXpXPiVW07d9PbQyP7KzO3h7b6xYmMnVmuvGqhMa39guumRD9xCaT89ksnnjoxN
lyfHqgRkIAmaIMHdAl7yLikbbLLaONqCBDTnUbtU3GrMIJwM2bihR28yq3idxcppiURmmeIFnKDE
9GOq5MpU/UphdhDjRCDcNxw1p9Pz997LGbxOvdem4hYNvtJk6kezNGU9+5I7mXDrtGSayoe7eRFf
ZPqkhO7s0CelDn1yVkj3qdbQKudBSsL4itVKAt7Nad+SWpGymlFpe2K+rWS65Mbgr6TGdsyTd107
OV92KDTO7pxChg4lR/OeTY3jt6WuWhy/Yxz41AA+/TXsEUHKRBmdmHOBlZFMuJzlE2iWTzYVgmTC
qB9hMEp+BENR26oDUvMup3WBTS3F0phXO4rp8eS8OTFRyO7oJdTifT9br4QmZoAdrtxVtUAqjv/W
AfyZALl+jvwrq3sMrcowKIogYlhKuvIMZw09KmpIwEYrKyJ/PD+f88RiHrjh7zaz5F/jHncs5vbE
rQ16zebF3/Ca2iu95nKI+7nimhhNAw9eYXpqpFWD0XNrZApkqtPCCpH1D8QvpJVWqdRcZa4W5Z+c
nw9+7s5/+PpdT1H6ng++jG0vPOWB5SaBph9nvsllczbcWjmbj8/P09VcI9QXBx/nz2Hv5NCiKDdZ
sNq5FtBiDseMBYuJPQlgiKcEv7ejXMbLBKS+Ame2+Pxq0nbjdE7Cp3FUgZsUTfpx66FCtOjWAQF7
fH6e781E/DGral7j6Iv4ojbNvDk6ms3udLqms/GpXkK5/np4qBz054uBX74eGSoFhVTe2/wFFjKb
B0O5RCqTDm2W9wbgKKC9Io4uwFFQ4mjGNOw3GdZGi3LKaOLaOC3pWnZEgVHHBvnd+e4NQsFdtUH4
XpDVXvAdtACfIo8SFfMo7rX6aVgHYVsdBTbOo/Dd/TSm8pGZRAJM8MBhen94IFzPCe5sPRyuZ93u
7DB+LTF9eGDg8HRCvp9z54fDoZGcx5MbCYWH827q8zQvEpvkx0l22c18Hsko0zBO8uPA5zG6u+xy
b6fCDaylcEW73FK2tPreoWw5msPr9npaPs/35lf5PAqNuhzC+5VuT4r2GnuANz/vxOn/a99U9OPe
kgGxdvilXSajyy9tW4nmH1GcRL10CnCyoSlR/q0g/7ZOxdQl8gqV0RJ4U7fAu2oJRm9QUlpnNhp2
pmOJ7JSVkzZmv9++11XoA5zgKlHwd04ADH1ifmRcp2PeTkxDlbHPqPQrk51+JW2Vcin8Sg1rDmZN
hh0dNYkkTenIuZEp+1Tf0J5s/qDNnA4EkpYdtiMDoeGcu17ijflMwG4Pa/GZZGbXULbo7jc4bP54
0B8tDLn6hsKlERen6Q0Kdq/LNnMt9YMB0mXyvpZeN4l6XaPr4bryIQYIwnUqnul1mY563COpXurj
RB3M3/mDgwfni8V58GTOngWPBmCH69SBRn+Bv4scrbyIg8XgvaIB12LUgwVe147+tToHp9AEZuoX
tvIizGQpsyL144uLx+d1QiYUygg6YNLPFm+/fREbm8vBYtLpTBaDmBsIIbzyM4DjrwAOtZzLWJUP
Ia2GG3vUi6Pcwev+7SfXvQ+W9OEfNf/BDGu8CTrtn/AbEPun1smHkFa5p2WavFxUT+ZOvPHwQ2+c
eP9DD7P1hpp/CWt+D083/zQK614AWf4FwKZHfavXXZ0NkZop+DLY0yTY02T0xb87/fhHT770x6fv
vvltzebzzze/95GPUJxh31+AdeWOf8QpHAQI8LVyAQFYy8ktGmVM8x4vPXsC33Pdh588ubv5GfLD
5vdxWsqfvcHWk7wPMeVxhTkP0pHzeBqPNrdivvki/qdZkJjmfbPAS7hGYaWBA1wapdAOdg2LNkTM
bg+HuHiCE0y0BgISmQoG/PoenZbmec/1YhNphRU9GOmwQa9l0hXEYNwNIT/Nhzj9tM9pGFdgg41i
WthtcHBfZa9Qn72XL2yzegP6nSlHj80jaHUuj63HkdqpD3it27A5/Pbz/mLUPhsIPZtq9DnVGmdf
I/VsKDBrjxX8598eBtgvrPThLZytO+8grMo7IJZ3wKB08Ja5Oc52SQiiDtzFvksLQ1oigEBM7VXW
wxKLqLFKtoiwy8TBvYa9Qst7AzUcADT9Boam16nTurwMTYOfonmwC02NugvNFOt3+RQJ4wW498lZ
bQvgFLa1ml2MAdqUo+HFWE1sj6B9JS4xanO6qIKr1vCrWCMEBaNP0GuD9XBuIg4hoKdP0Ad8FnWs
6i5u8+GdWJ+KWO06jeAdqam5XCZptUOc5t004C++9T5lppNMK6eIj5sGz6Quww/RKOoJtNumbfYk
hxxAfQOY9MxZA29QSa6iHxuCPkrqMdzgJHthImYc5cscb+KkzoGavVzD1zqxRu+M+102izdcnMl5
tI5NuokK1pr9lbTdLGyaL3uNtQd0+Fe3kkg65uBn+cDgluK9081vqgojZf9ceuvRbbh/mtZ2Sis7
8GMMT17sWBcxPYt4dbsMjGg6G9FCNEOb3v4fQP1gC/0g++uCVW5ceZO7l/Vbu1AUFdo912cFh5n+
DXtVHUlxg8DxtgCRctRxRQARXucxvig3AFWlB8vbu3vJuu8dPKv7/VfCsZjjMr3tzAqJscCqNnda
B5UjcOvFpaX5pSVusfnTueUvkH1z2F5h1/hDdg072s6uYUMQ1tvsanoVrU4t9CiuY1dexwrXMVs4
A/ga1INSa4xi5sBgYkeXWFN9O/ynNwCAgUCB+Pe5d8415/Fn4e7fI1QxbCNB/Ah5FeySryvvScWS
6go165V31Vy15Lb6dSeGP0l25I8dyz9Ku8t45Fx5UzXRcYbnALoWffBy53jOCtdcRf/uO7zGmZ6l
gwvkmsOXOdsDojAI7hc2HIyJqZtxXWOB8PmdpPOUzzPXHJ4YVv2nz/nEL/PeX/xmZ4DwM/8/HA4a
Wfed19HrsH/FWtq/AJ+HRIkT1RNwxCTW1IYwEvrcqMV7aiUY7xkXqq0aJ3vqg6dxycNw0bM+b63K
dtcnPjl84jpcvPJaG7f06KMgdc0vvIWSm6MX5NuJDmIVKcjyDYipKWKYa9kKwpISgISrdvPjg+fP
D+Lxv0y/+b/SgKhYJ1YdAvkOoBK6n61glbp+DEZ/QIMELk+97RirawfTJJb/jXp/WscELO2nQXgq
dowt5WPEY6EhjaJDiAY0SWVAo+6q7JO/wY80/wrnmt/B1eadpPCZebm8fPQTJdL8VledX2oyeu/M
dk6uLm+drnZX+vtp/QX/PfoV0IQTz0OJRYlWggQR+SRVknvkpsHfxn+P7a7mzxHNcvw9ekX5vZat
XKLlHrkiCFbjYfgeR5ixAB7A9fAn2PdatodeEfxUvuWnqgjWSBXTAgbjycMNF2GZA20QgiIgtNEE
CfDaPZ1rdtmzZ4iGgCOtgIraswelJSXoRIMGuF2HnsOvkiroQckPUJtbfkAP9QPiXedxcDgxMxDw
D8wk4d4P98/5yzPJpPg4mZwe8KuoPUXYiy++lTNNYbAuF+mhJlgXXnoP9nIn3tr330N+1P7+OBnE
f0bOI3fb16L9LwZ3a//oHHT/UMeK7vxWijwZpYGsGd+sC1qFgsYbtydHbf3GYK+ziAvpWN7DkVGb
z8kZjbl40uH1epJxNUAVwTu4h1kPiVPKjuuRCSyt1EEyrtdinm4jQaNizidEc3aI5mzKiNHGg0G0
2hxOLQ9yYraoJR6yyELsTrDT8D8smknu4RvedffJcfKB5BkyvvyT5h8/PA4Q0JijeRhf1/wYu/3B
OH0A+03SpSeYzSwodem4zszi7z7W6RKxq9bRpTmqS0lHr4JfqUvtVxyRh5ge/deNw3LylKg+/2Tj
6JzWH0Fn1jt0JqIVVtJuJmdVSOoR8K7tVGU+fn/6f72Z/kt64g38utvwa0gDqqshd5E3DNTSOMED
KJ6zYqehFS01WMNdq/UHYks+hoMibeBO7EMZJvwAzovxHNzRVhOKfLwrAaemdRqa60x29EgrajbE
KlZmln/RlZoj773l1P3jodPDcgpv5FTY97bRdkkHB2nt5nR3vu5p002PqK7rHyRyRq9aLNSkag/i
xPo/9xXm44bEHkqljwv4ezFyY8EjIKULbcMGg4adtpKPt0GM7A+GOJ+kihQ+bll5eEJuGniB5s/d
0eiXpfvnxSYC7itRt/SKdL/8wXZbAZ0J0GyiH+BLbCZAoWMmQFcu9yzAJ79OSyBGqjkUkPAASXsU
AL4ke9dfWv4KmYFPwbUWUQH05VfBa0yhYckDNpmdriAoAYMxlFIjsaYQ5VXK2BWuhuBq50OpKGdk
admoQzwsQI+011gvMm8FB6RcAUHg6E6BYAgvFnI7BgPBwe25grVW8tQT0XEH8YxGC9VJWyjrIV/d
yWenZ/O5veN9/KH9WO260xtQA2UivtvNJtK8Qb8wKFTzQQ7kBMDSr7xJwFlDE+iASKXIgOhDoQwW
sn0KVXTegnmd5ACcNXANsft/3ODz1wZVvHeoznn4jj6yfpHFUpzaIb2Jfgy0TYJHL2oAlh7341YD
rZO2NoDfBUEvP2/sC7uqyVTDX93l2maPe81hl1m71WS69zG1WfB6c8OBsX3z6veczB/anA67F+93
mqozQUswYrFYrBOVfCSl12k4TyGZytV17lQj5q1mPYfGfJGT90fHZwupI4V6IhvtJ0PVMaqzUYmE
SAL8/3Iry4Z0VjCyaSNV0t4oO+oX7KdV2FiWpPvl816qLD0V4YypMkv9aeJUUYZK1QpQLfSQnJOe
TBbpAOpGbDKr0R7GpJTaNRH8L/nAlnx+SyA/knbAf+mRrufN2Bh4I4vbti16C+MkknW53a7sSDY8
nU5Ph+FB5/Pmx739jci2q49tjTT6vRaEVy7BPt4ENklA861cpcAhu9PFCcimOOvscHKIs/dyrK9D
5LRaY7GCv2gyS3kz2Mo9BiOnk3u7BOxq9XZFK3TMBNvCduClS4zj8O6f/KS29NiTdAs/+dj56k9+
soBV9Z6FOrbRfdt8o77QU29egkteWPkc3kIeb8/YYJDyHCJqDbdeFiguNcTQTNDc3Cd/Td749Rg7
A3mGeCA+NaGtaJ8o5aoZqrlSenYq2S5JvBcLbnZGojhOXx+swXZ9xgSGV6XSy1x2BqRTL/QY3zAn
KjHRitVczMSZsUs2dZUoUyPU1kn9k4rAoSwLu0s8QOn6Hk5nwt5n48mwdxcpDGwrjm479FvX9u0Y
iVTSBSGVDv92Mj/cl5kiB9S37Y7N1ILZfMke6YvgXbg3EQnWrUdtiVCgbh3EQj5RmJgdN197h7e8
JbOlFJgv+nIxwTJlz8f66oX0znlPYTI+WopuL4cLEbcVaDRDRvGj4BuxHEa3dl+t0NdV3O/p0tfk
fLeiBmSBqxqwrR65N1jsWlWeEj8rjOSl2tbIFZ0VP2vITND9Vx6C/Rd1k3LmCs6NqyXvRLSv0XYf
itOFz+w5c3pkRGwlZveTdx8pl4+8Y2ry7sMD5SN34x7jdZsX3x6s7yluOqkbdZy4aq8tUU+WJnWW
kRvhW78D35LuybdL83dPT7/jcInd3z1f+uXM7t9a7N/biM7OHDqyJTiU92bTwBPggwF/H08CXfQQ
pe2V6ksOVl8KYLOXmHx+ZX3JYWidNhUkuWRlJdxupsByHUmwsfRBu45Uk+pIEvNod9PnsgOVTL5S
OT2Meyvh8d27pkIVGwGnZaQvPVLPZIYv5D3+AyPjB/1CBuiCaCx5EH+T+Vd6qTNQEZXCYz193KpJ
iO1ttFDBkrYsUI2zv7jG4tXmHynD1j9jfweqLE96Ozt3qJa0AetfV4v968WOIFWNVbyYVytbaX78
G3NNhD9/OzbNJdk6L8M6GUUMQZj+wGv227FjLOyQ4stzdB1Vh9zSDNFD3ZI73lPDqEqP0g2zxuSB
ySkOlbBQLrJjNYMT443egKY8fCVCPW5EjfEJDg1UiGEyxWKEKYyK2DBYQEzKU5Mkc24YpwpXIOx2
+eyVtVwpu8qclPxJZnBlQ2F/sDQt9FVDXx7fe+tVTxbLpazR4Jq+AjlvfpoMj0TyHn1z0ze/id/p
TAR78U3jUaD2JnIb/iLom7cQy23CJ8n56ekiO99Zwt/DC1KubljkAWK5OX+PIhPXkXlTS4rC7AEV
Ae/Sg9sF3NHU3iBJRU4ML7j6aoFArc8l338kU6/3ZYaGyI3iq9Ugu0/XHmAvZzJDGXZGls4TKbHe
ks2S7dKD1WTHm4QeFZ3nhDgIyNc/XLUqGUoFUTllRBRKNmoEzeF/+MLcF+B/RFsx8ng7uQRaXJ43
4XSxeRPWjrqSi/BO7Gj7a+BnIV5yyVujbtrjG8w4XDnzMYv1yNjkXn6KFOPhusP6fTyKb/iireSu
77xqNNKXjzhSvT+rIxrE0toNQXHJgwLbaocNYWEjoByR1inbOFLoLCPfkSySzljZFeMlsDSbqypD
Jyuy6KdzgxVwJNXj3IHh6SOJ6OTs6OhW3VQmFCmCHdDk4tFcMFyb2tpIDJujU7Wp+qDPFwuHI2v1
p3bXPOygnF56V/Yz5NXPeh9nVXxUb15kdViXVFczIA7cJ0UrVQ9rpdLp25XYHr2rXdGUy4WtA2Wa
9gQREcuOsuy8s+7rKMwuh3DK5ukuzQJ+AFtq5XriAf/OIdUV9ciCMTZhwczcV9RLTbhgt3Z06Vus
vQ4VLx9RKuCw6Jf0OgAaq/SPeJqv53YPhzB/69xsY3aUXEhvmsuoVSrV4m3N7Vzt0ktcjc6eQX+B
voHr7NxS5+wZMdDqcBzkY/G4LkdVYy5YY25lG7q48u9tniDS2TPsAotxcfOBSt7/kBc+PwER9fd/
g7ktvGJuy0fG74iQZ5tvx1+r4zKrzn4fzzA77JL1i4P5Qzo2w8ZgIw6zQr8YFJl9jQ30C7xLD093
hpIK3fKp6YWF6emrF2Yyo6OZzMgIR+bGx+bmxsbnBobSyXo9mR5K2QCOMbCvP+2yr60MBnsMwqY8
98exoXE6qjRZUiNIqH0dY5mNjCK/8Wfsb/VTYNNSYNOGAVc1eMg25ET3rqLiuBnxoIqsuMds4wQN
NefnLJjolGeG1yYvaDKNCXa+DgIFg1kLoQRPB7u1uh6etuOxpx1obMlmJVo6hEVkB7bisjSKpVbm
sAu/m/LnteZf/2y8eOu77+H2NbeU8bMSw5a/ho82T05O1j+DX1vu8ZFfguS0cfKDPj62ymegB3/8
VDH2uCTanXdh2hHHd5/Sax/b0/gJ78NeKQI29oL2CgD0IdrmQIEu43VUp4zAHMFrKNFfMlxAbwMm
71mlT8nXGUq/VPCJzrwpoSp699pzb6hUhEDf+i0sd9evYpNw/Nw6k3Cexowh8jScs4aSUVLLtHG4
HdOfz2LAMC6SowI4x5U8il+RomYVqp4WF5ffuJzixr9ghLlXZu7r6+rxFxiJ5u+GTdEHuvlRfInN
fdgm+QVDdN/2s3PvcQud++DFjPmCJ3jZuQ9Sp+d4nSYIZRzovEheMfImGXW1d3WtWhNHETKXQrn3
f3fjaQ+xXjqvITDcnvbw+2912AO+ujWpEnHS/IF/AZnoQUa0SVEpQxraqX9ebzRwGq0UQjDVKh6v
6sEGvYodHNaAxyK2n5wzYjWdRkDzuvbWRIJvfSb7rh93DCXgnnnc+9lL/6M1mmA9OMQKxVpwELQR
HCxZBna5DQf+fTDR/k5A/gUM9rKmBQjwRAGLGvaQWc54qxhNtNRzPG80mzhtT2vsRats3J6DoGEQ
sfYhESIz5tVEriu3YfoqqzD/t06g9rJ681r0+QpyoxCKSjV0RW3iLPIFKGThaITzyeOFWKkCYIpg
2OuGsIfB5AsEOVE9nYtiL527sX4tA7d5uG5VA9/YCfxkd5FjeV8bD1ULD2ozA6B1963qhEAeH8Uk
GA5xHl8rc95OK8CTEOvACQoMIQ+Eu2La+FwYu7vtqTLv0Cb7L7oyEH2dOKxOHJPVOLzSwuG4KCFm
VqOjNJdwoB6AGSjcgQuE4TaahNCIHS7roCL7BjJKWOkiKPs829J9jB7cSFQqCZvXa7N7vR/txOmV
SiIxQD/wfo8d3rXbPcs3tpAC/YFYaxm3DD6SGSz81ZImoF2V5y02K0eMLV6wbm6DRapijPewhjOj
SWqb6xi5IHZv9yiGU9iwWs8GloSTYQ5u9J80uaR3H34i0XzpbpxPNb9zGFcSzfPNJ66fwwPNiw8/
95xYrl02wYMY4EXzCivbpHkecdHvufxEj/MQ4EXxFY304MAduvxYj++Aa3mZ0R7Lt4Db6ZfOiP8j
02tmdI2idmZgcRvtiqf1cQj6TUY6TUMDDoVC1YouBc8SFjJx271o7F2DkfCt+cRU8XKKmvlDoHof
U07WEDWvX6TlLWvDR7XuFcBH0FuHjypkrIAPT4JKbp7tgJCq5EtXiRB20lCNrOj6tjYGGHtA6kAc
BZ2GwWgxw3V5jYZfrZpbHQjy4WLReuhBV/dI75rMhLdiS4uSXbS8lanqr3fAKmlqiZ4YqCjC+hWp
z+umVTUwA/IFQxyKYsErMJgj4QA9ci+411B1DCyPl/BuLMhAt1vi2LuhMAGhjly+UqYk+X/tUn3N
cx0YrVJ9l2ZE5BBZeQPI+TyTFakjtWWHxXPdKnVHwVQ5FUJxqJsDurqi1rINZPP4wgKTyP+9TOvM
fbD+rzvXZ7K4xvr0uuusT4NxHtb/HIjWAVifytOf0/VXvguk7WVypENjCjnqoaGQFgsaHq1uBROX
lq+iw9oWFhIeWSYXBbiSKA0UF27lb+BaHkkOvJI/s6oW6sGC4F6nFgosly8qD1Jal78UXX0XX2cB
oFXMfInRGUkzhyygORek3JM/EAZ/X2XhBCubO9TjooWNUNBnU1ld7agAg+xy4EEYwlLF5xlwklu7
vzVHwYLN8nF3WtJZaw4RbdcbH197GtGDD+Iv724+sWomEe7dXaPxLptTQn2hMDrS7QmJ0xrCsL88
8mmjEBb8wY7+DQVR4SH1fdjDkI94wHlaCvuJ//KeESeNNfnVun7RI+LAk9X+0KUn2jNQgC0g7eJs
Dir3dEribmW3ml9H/9qTqs75iG3rwKIQVbuJig7jNCF5+qaJVRipoG40FUWA3VjeaDIK3ar/vPF0
lOh6ODF/fn2cZItyJTjRTb4RTn8HGuDBjXCi6mHpreGkBsnLSfUoMS4QgqxK6EizaS8xEkyvbYGW
YjST18aMnsK1iJilg8SiaUUIG/GryZQO3gg5USNdCcviLfy+wrCbaE2JaccYQjlIsUzTWHgpP0jK
o8pAgyE0SNMBbfzy8DQm4jdaJjGPODhlnT21oYya1t1sf7YRIVbtwhs2pkltCpgr00TP5HgMHV3d
uV30079JNrE/WyXF4XUsOWsqFdrEybamhi0NF0lE6HLzOxT8RqSpdGn/BzYiyCrT8KWNCXJLxxx0
OY+qZbMelH3iann4mgnRQyO8RkVwD6djws0z8aZtX+EXXxz52tdG2F/84osvjsr/j/RRD2Dlh1xF
yq2W0fvFayUwiku/EzHeQ4fiwP/mAnWjTJmU32Nw9SK9tsfMQdzkxuYC3CVxhFOkYLWt3jM5IEji
jFhGM5UL8YjBZUZ6rsefYSu46V0C92bY9EO/Vv55CXYQW6zSS4VgsWVD7FcD3NotKuTDXj+Qe7S8
kKgEI5QBQ9cmlj9XvWHgvhnKmlz6ePXYwG9voewqZEkucaREKR0OVJPHKpT2scjy05UT6RzlytS9
A8cqV+fKlFNX3T/wjsOgMdkcHKZn/R29eezAvxoLPrFt0MJS+mZrh4MGEafF6ucUmtbVOgcq9uat
ORnnJTAV/7xqOo7ox603IadB1oZV8u8uDytF6LKwUmugXhNW/B4aYJxYDS3zCted59OGVY2CUo1d
9hWDbPZKQMxE2DDqxYLVvobjCBDb7EFOoe3d7SELopZfG+YvMt3e/OlqoCUHc10iA2VFuEV9VUSH
1vA7i6wHryAw+GMYJbAA2n8NJxQQiMWLnEJjZVqTMNZ1RddG6fXuoOPkauRWO6vr4XkGfHmx15DK
kkGqvShiBaldtjNWkM/IAVo6CG217Yi01UiIbwFp+Y7UPchSg4+2GwYBT8XMNzpj7Boxt05jSJBN
NQ2WwU+hU9+o80wHjCFXyxb42NQ3P5LFxoANVj3z9E3YKHv64DeLmSzXqhGeleg6499MC4r5b0/J
498+sGwittb8N4x8IBc17hbUj66TuhH6qEz0RFlMCrGIQ3BzgqdXeZS3v7PnIARPza3BHM+4BFYf
lguWcu/mWUMCPDup06A15r89pEMe76uJOiRdij3DJ3dmZrccCw/vzo3uHxBSqXmNUM1Vt++oz50O
1jYnLH3bFwd3PeQavDm/ux5KbLp6+LHZ5rtJf2X7VHpLrb77oPrYbGLTQACkgc15YbVaM0qg+5S+
NO9lPTIJbI8SWyzOCRaqYpaMPcRrAQ1Pz5Cu8q7pj8aE2iSgw7WdyvPYVmxRPk1g8ZTIkpEnIaec
Cd9oXtAnQKE61x8ZxKYeLR9fb3AQ2I318Bb97Q3x5vAqD/w/izfbVhvOSdoH2+3JyyBOy+nLH1oP
8Q68aW4ohR5U+uQ6P8M7hR1x0ptIcoKNqukls4H4bYC3BoLWdbx0Tec8V1q4FZTo2nHHofwUTorY
m3WiGycljzbC/+1M0RsvQwDx5Nn6vAc/oUUDemYhjkZEGnT67f4io8QITg+RVH2YExLsxxyiIVJM
ACU82OBe5cnT0KTaufmzSqSTOKF8OoKHpfkRflLNXjZ23nA/PLiun//0ZWi16nTF8g/WnbWlatFM
zNPV0ftW+/Xefka1Ok7WSGJwiBNi1EyeF8IBrj+2no9PY9UB1DFYo09JpziOKZ/W8ZBItrCXDPRd
pnaxoTB9ocvEPnoZUq3qt1x+eD1SHWrR6tUWrZ5YVe9Yl1YGG0crIEvhAJFppiyA/KdIJpVIWqRb
r0aysR5ydpVOwpfTSavrKD9eV87Y3gQPip4PEdBmdGurOyMLvkKG7s3N4lmREpv5ruG4EmzFzkMj
m1k1xS2XW3RcKM3xUewn0q/G9Et5eOs04UdxTSQOfL/WL4fbTpe6o9GvKs34YoEK76Af8eOOPteO
Tnz8ZfEcSdNvT8dczmjaZk+FnZvI4i2nakcDjsOFbZO+RuIe31XpbSdCtelo9Rpf9OhA92mSGa0t
0NsbsOu0Nn9vIo1NNz2STCSSxt06zd0hV+++rYl6wp7rS+elAyXfxO9kM862SfPjQnKN53IT5M7b
MB/AG46Qo/WddcfIvW3zgcrao+SaD/gf8gL9JJ37CrO3HoiJ9ytPRXnZqSgP7eyicq9XdRXPwzTx
a/BKxyKZvGtJR1hjaYdg+HLT2N4FjgPWrTuRTXQcltecyxZdDwfmRa+PgxRcXjEOrAR/2YlyRXAC
9q+PA/UBmukNcVCDhETRYUWkpvMzHHxGydQZNWsW7KP0nKbBL+tvaud6SEfIZlOGbJfFZZYZ9NfX
R0ay52uzRNuUdO0rkl3Ko4pUW1ZGcLp+hleeZrSXKiUSFNYuklcwymNDvyAhVuocCZlpZebWL5df
DtVHuszN8fWRXmVtmvE18b89DHHdrwC3l5hMvoUaE1mrxkRnDPGwQY7Nix508z+a1IGB5Sp0hErn
NTauM5H16kx/AvJ7aF50Vl9tZgGHf4L1g0wm33KdiaxdZ6K4hJlw5edlr5DiQ3nIrbwC14tLMvOb
1prIW6k1ObuYPze/hk/xGqWFOJeMO43saFDK+QgZcUpCWNX+bazO+VekI+5IiK5BGY89XeHG6O9h
JXxr/A5W0lVzupKdv67Afk+kluQTSR4UjanrFORXsx/eU9cImbB8CrJyeDoRGtqW/WDfo1ONoaEq
/kD3AcgL1dnr7lKZLPL5x9jMdY3aO+66rbyntm9zXzk3Mj0COLNZccwfL0kT8ZT1KWMR+wMljs7A
83jZTk1jlMRCKtFRopK8HeCHfI7Kn0xxitlgUfoDptI4rfVz6mtPlnv7uh72nlUz51Y71o+uMYTu
iHgWlmjZvlpVx0qKNR+/VPNJ+ldF2kLnQNLI6pqPfY26SPdUunfDhh/dYDAd0waXNhxOB3ivh5MY
V6+LUyuK3hintepYqybtbQMNc2YjpKj6+daGSHXgJNaxdipj5rRYxwquMROl5W1p2hjFrrR+1Y3T
TWL9aiOkRE23Ma9APlt4nV+/fjUq1q/KUv1qtLwq6qUFK08bv8HV9Sv7FdevVsnm+uWrjeiwags+
sPFsRVWLHpepXQ2LtauiVLsaLq4X12Y7cyDV1bUr+xXWrrrJ8gfdpauNiLHK0nx3Q2JQenCt2hXN
kXmlOYbsdwPsWJxD3HnipuOUVysr1iNlOZ0WlXjiRr3O7/mx0zdgd8VRr/Lt5bkvyvNe8XvlRwCR
duV/kF78b+Ax2MHve58Im5NWF4DsGWomIphm64WAgY1kS7h77Fak47UEAsWlvIOQDNxHwySgHCdJ
f5hIkaaxtn5lctyQCfTYDUhHtG6aAnJgRxS+3+skbivcxyKET9D8sxQwBbH0Q5JJvqvUlZArXY/4
gTehUl/GTXlVSDyVnQlu76M89AiN/Oj0AcpWv+eDfSXKkEB/vMgYdKB/k8tN+ZbZGRzLjA7Qh7k9
wV46g4vNMmS6191V23KzHL+gWuu3Hlq1LfqLD10jrrXtwIpbY7rhLWA9HuqYcCh7jmuMOQSarA2j
5EteHkapprU+jFJNaxWMeJRWtD7fCaXoe64BZAeMapD6zlqWl9WyPBq5ddkCG8G8di2L/q6NQvM7
OiqF69DzGNPyf94Ja8t7XQNckC2gpAivqLdya9awcqyGlRXkbuAIFoLhdWpYoXCOU2iuZGvC6uVq
WKtQ+Uh3BeuZTqzWcH/XwA/2AsQHbE4kkxnpVzlas3j0qtVFK+3qWZRUNvRYnByJp0Ae/loeHymm
zJ+Uh0gCTvKMXW4ROUFlnxBrVmqHh+NUTk4xzDpEbYDLT1BIVCCrhj9rO+J7bdsT9bem1C6FPETL
zhCvNVNXmfh9dPVY3d+Rsm7c4v850zlVt/llOcO2CBBJ9BPlIyj/RrWyg9wbVK07YEQmJ+uDJ5eV
A5nEH+7i/fkWtVcnUj8qk/7/Ap+t+9V42i2SO1CTURCFjwwISNQ4EOSlhHeiyCvAgASIGCATkhB5
GSGagDyiojCIBBUlQAoLCgoKCwsLCwoKCgoKCgsKCwsLC4sUFBYUFhQWlHw6ZObMf2927+63517p
/y9ypl/SuUrEN+mPlGyWUgJoEx1J551oS0pNQ3a0iA7QiZS2I6UnI3IvBBE1MuKSgbWB2MVD6RLf
yzVoHf2UjPVoSbrCmUzaZ85KWdOSibXpk5RN/2xyr7rQNynHiGIIllz65xLLIzdvX8qHv8AjXTOg
hHS9CXGmkH1hGH2XzBbEGTMsRaUI/iL4i+EuJr+E3BJipdQqo37Zb6n8g1TBGQtnLTBZYbDCbOXc
Dby4CRuWqZJ5brGvYlMFX7Uf4UFNAZpH9K9lXQt/HbXrqGGDwYYnNvrUf0Sca8CzBr6NeNFIrAn/
m6nVvCHd/oKYrSULwdiyJ9nhsRO3E2+Fo5WcNmq0fZXa6emgj4N6d/i/Y1e6i9dO+juZq3Nb6oKp
m3vohsGFfy7iLmZx87+bu3Nztz3w9/D1UMPDTF723r+SD898cPjwv5e30cv8fvrdg6ePnH5mHeCt
DFBzEP8Gj6UhGO7jZwCGAF4/IGcYH4Z/SCPwBLmDIG8gSJ+H1HgEW4j7CbEPEx/l7Nhn6THejOdI
Ew7EW53Evyn6RmCKEHsC11P2z7ifaXKew/eC+55hhln6zvG25vDvJbzzxF/h48I/0XOB+aPkR8lb
ZP0aH9/Q8y2xJTx6hy/vYVxmthg+xfB6ZVxa5V5W8WWNdRzueOIUocua8wAAeNptkr1rk1EUxp9z
blBLqlJiqi2hTWohodYPStNifdt8kGrQIIJQJYuDiiLuDi6tf4GLg4OTq4ODIB3ERcEpkwg66KIQ
B7W0QaxIrs+55IVQHX6cvCfn3PPxHPnpveQAqeCGPEdTqxghM/oKQ/oMRUmjKZM4GXiKEv/LMX5O
GvzO4ZLmkaVvlNwlR0mR7CZjpECO93yzFk+O2Rsx8hqzLotJfel/6UGU9QHzHtIOoC4fcMYNIq2P
UUYby3LLf9PL9K+h7i5irxtCyUVIyQ9+0+o46jqCrLyB6iOc0lW/nXC+o0uALvrfWsCAzGORPY/T
RqF+h7PfREOnOcM05mU92FFpkxTyeoT7SGIJXVQMaaGGj6iq5/v0awYHLC/kXEFNVnEYG3wDWJAX
fktbfkO++k357LfYp8p5nNAFbAZr9dOYo93H3c+4Nm7zt+24JO9wLrGC4TDPBQwn7nDONCKSYWxE
DjHuuvXPvHvSRdk9wQTrW3zDrbEvzmy6Mu4aSZIJrfo/Vt+0YY1l7n4XexnkLGOxJsHXwWm5zzuw
HpvYT1JhT5wr5JqWZ7FCf0Vq3G+SWlxFIYa6TgVN/4P7wnjTmRr3g7b/Tp2naN+SFu8AscY7CX1G
vDPTuR+bmfegNWR6mv6Dy1Or9Z7GfaDrt6lxkfYTeR+0jTXeie0qgz1hH32YzuGOaP8CqVWvTwB4
2mNgYPrEeIU55T8YMOr9+wJhMYQwYAdR2IUBxXUQ9AABAAAA1wBkAAcAZAAHAAMAAwAEAAgAAAAm
AJYAAQABeNrbzs7GysLMxMigo+CukJGYsoFZFUwHRWxg1ZbewKYdqatzRldHUEjcUlfHe4NjQISN
tCJQbAsDELCrbYAgBm1dHWWFDQzKTvogKiRC8Y70n0hxmw3MWhsYnPXADF0dfZCCDYzKThAJRmeI
UqCKO9JAQhmqQ1cHyHmjy8AAALc3KJgAuQH/AgCNhbA6HbAeHrBXH7AgGgB42mNgYPzC+IWBlQFC
M/zjgdAMvxiMgJiBiZuNATtwCQkIZlBgUFCSZE5h5GFgYH7MyAMAUbEMJHjaVdEhT8NAGMbxdwiC
YTW4VtWAmSBkuebkQkoyAWPH1lKJZP0COOTs/D7EvgGmkg+ARs/gcMf/HkeW/vLk3d3Tu83MRmYn
Hb6M3u3UPq20aTygi1us4h69bOIRW9nJnpWXdh5fMZNlHGxCwze6+IWVsldOuybadc2uN8xkyeSG
XUf0OOXbPY6ZT1mTci4LWWo+U76VtZzHH1woB615Ul7LVpMOHf1bHHM2R3/KueaFLFnv6E+5lnNO
5WhOOXAXR+eA6UYVbQfMZC4LmXoqegas5UIG7VrT43VTz0kGzJRzWchSzmQt00m87ujtkbd4Wyqv
1dDQecfngqfHoP6g5qB5sHs7wwe5pC3YSvPGrrCVz7LDRrdrdLuWPGCGnead5hvbxB3vS792bys6
e/7lXfw9+fj//AFK49H+AAB42mNgZGBgTmHkYWBgKf//+f8nlkgGoAgKuA4AeZgGCXjaY2BkYGAA
YsOIQKZ4fpuvDAzMLxjQwP/2f19Y3JgfA5ksQLVA1QDO2AgX) format('woff'), url('Futura-Medium.ttf')  format('truetype'), url('Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


